# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#### CUSTOM ####
autom4te.cache

makefile
Makefile.in

aclocal.m4

compile

config.guess
config.h
config.h.in
config.log
config.status
config.sub

depcomp
libtool
missing

install-sh
ltmain.sh

stamp-h1

*.o
src/*.o

Makefile
shaders/Makefile
src/CubeAsset.o
src/GameAssetManager.o
src/GameWorld.o
src/main.o
src/shaderexample
src/Makefile.in

src/.deps/*
.vscode/
src/.libs/shaderexample
src/.libs/